.promo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3C1F8;
    background-image: url(../../images/Promo-image.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 524px;
}

.promo__header { 
    min-height: 116px;
    width: 730px;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    font-style: normal;
font-weight: normal;
}