.search {
  display: flex;
  align-items: center;
  padding: 80px 0 94px 0;
  margin: 0 auto 80px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.search__form {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.search__container {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  position: relative;
  margin-right: 40px;
}
.search__input {
  flex: 1 1 auto;
  border: 2px solid #aaa;
  border-radius: 50px;
  padding: 15px 0;
  outline: none;
  text-indent: 22px;
}
.search__input:focus {
  border: 2px solid #000;
}

.search__input::placeholder {
  color: #a0a0a0;
}

.search__button {
  position: absolute;
  right: 0;
  background: url(../../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  width: 80px;
  height: 34px;
  border: none;
  border-radius: 48px;
  margin: 8px;
}

.search__button:hover {
  opacity: 0.8;
  transition: 0.5s ease;
}

.search__button_disabled {
  background-color: #aaa;
}

.search__error {
  justify-self: center;
  align-self: center;
}
.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox__text {
  margin:0 55px 0 20px;
  position: relative;
  cursor: pointer;
}
.checkbox__text:before {
  content: '';
  position: absolute;
  top: -1px;
  right: -55px;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: #aaa;
  transition: 0.2s;
}
.checkbox__text:after {
  content: '';
  position: absolute;
  top: 3px;
  right: -31px;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #fff;
  transition: 0.2s;
}
.checkbox input:checked + .checkbox__text:before {
  background: #2be080;
}
.checkbox input:checked + .checkbox__text:after {
  right: -51px;
}

@media (max-width: 768px) {
  .search {
    flex-direction: column;
  }
  .search__error {
    margin-bottom: 38px;
  }
  .search__form {
    margin: 0;
  }
}

@media (max-width: 320px) {
  .search__form {
    margin: 0 0 45px;
  }
}
