.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  min-height: 74px;
}

.header__links {
  display: flex;
  margin-right: 70px;
  align-items: center;
  justify-content: space-between;
}
.header__link-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
}
.header__logo {
  width: 38px;
  margin-left: 70px;
}

.header__register {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
}

.header__login {
  margin: 0 0 0 30px;
  align-self: end;
  background-color: #000;
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
}

.header__account {
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  width: 381px;
  align-items: center;
}
.header__link {
  list-style-type: none;
  text-decoration: none;
  font-weight: normal;
  color: #000;
  font-size: 14px;
  line-height: 18px;
}
.header__link:visited {
  color: #000;
}
.header__link_main {
  display: none;
}
.header__link_profile::after {
  content: url(../../images/header-avatar.svg);
  background-color: #f9f9f9;
  padding: 8px;
  border-radius: 4px;
  margin-left: 17px;
}
#header__checkbox {
  opacity: 0;
}

.header__link_active {
  font-weight: 600;
}
@media (max-width: 768px) {
  .header__logo {
    margin-left: 30px;
  }
  .header__link_main {
    display: block;
  }
  .header__account {
    display: flex;
    z-index: 19;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 75vw;
    height: 70vh;
    padding: 160px 0;
    margin: 0;
    background-color: #fff;
    transition-duration: 0.25s;
  }
  .header__link {
    font-size: 18px;
    line-height: 22px;
  }
  .header__links {
    margin-right: 30px;
  }
  .header__link_profile {
    justify-self: end;
    align-self: end;
    justify-self: flex-end;
    align-self: flex-end;
  }
  .header__link-container {
    flex-direction: column;
    align-items: center;
    max-height: 122px;
  }
  .header__link_active {
    border-bottom: 2px solid #000;
  }
  .header__burger {
    display: flex;
    align-items: center;
    position: absolute;
    top: 26px;
    right: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 20;
  }

  .header__burger > span,
  .header__burger > span::before,
  .header__burger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition-duration: 0.25s;
  }
  .header__burger > span::before {
    content: '';
    top: -8px;
  }
  .header__burger > span::after {
    content: '';
    top: 8px;
  }

  #header__checkbox:checked ~ .header__burger > span {
    transform: rotate(45deg);
  }
  #header__checkbox:checked ~ .header__burger > span::before {
    top: 0;
    transform: rotate(0);
  }
  #header__checkbox:checked ~ .header__burger > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #header__checkbox:checked ~ .header__account {
    visibility: visible;
    right: 0;
  }
}

@media (max-width: 320px) {
  .header__account {
    width: 100vw;

  }
  .header__logo {
    margin-left: 15px;
  }
  .header__login {
    margin-left: 0 15px 0 14px;
    padding: 5px 13px;
    font-size: 10px;
    line-height: 16px;
  }
  .header__register {
    font-size: 10px;
    line-height: 16px;
  }
  .header__links {
    margin-right: 15px;
  }
  .header__burger {
    margin: 15px 15px 0 0;
  }
}
