.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox__text {
  margin-right: 55px;
  position: relative;
  cursor: pointer;
}
.checkbox__text:before {
  content: '';
  position: absolute;
  top: -1px;
  right: -55px;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: #aaa;
  transition: 0.2s;
}
.checkbox__text:after {
  content: '';
  position: absolute;
  top: 3px;
  right: -31px;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #fff;
  transition: 0.2s;
}
.checkbox input:checked + .checkbox__text:before {
  background: #2be080;
}
.checkbox input:checked + .checkbox__text:after {
  right: -51px;
}
