.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox__text {
  position: relative;
  cursor: pointer;
  margin-right: 50px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}
.checkbox__text:before {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: #9fd468;
  transition: 0.2s;
}
.checkbox__text:after {
  content: "";
  position: absolute;
  top: 20%;
  right: -25px;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #fff;
  transition: 0.2s;
}
.checkbox input:checked + .checkbox__text:before {
  background: #2be080;
}
.checkbox input:checked + .checkbox__text:after {
  right: -47px;
}
