.about {
  max-width: 1140px;
  margin: 0 auto;
}

.about__title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  margin-top: 110px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

.about__diplom-container {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.about__diplom-title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.about__diplom-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.about__duration {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: center;
  margin: 110px 0;
}

.about__first-week {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 9px 14px;
  background-color: #000;
}

.about__second-week {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding: 9px 14px;
  background-color: #f2f2f2;
}

.about__techno {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}
