.about__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  margin-top: 110px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

.about__diplom-container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  gap: 20px;
}

.about__diplom-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.about__diplom-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.about__duration {
  margin-bottom: 110px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.about__first-week {
  color: #fff;
  padding: 9px 14px;
  background-color: #000;
}

.about__second-week {
  color: #000;
  padding: 9px 14px;
  background-color: #f2f2f2;
}

.about__techno {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

@media (max-width: 768px) {
  .about__title {
    margin-top: 90px;
  }
  .about__diplom-text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width:572px) {
  .about__diplom-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  .about__title {
    margin-top: 70px;
    font-size: 18px;
    line-height: 22px;
  }
  .about__diplom-title {
    margin-top: 40px;
    font-size: 18px;
    line-height: 22px;
  }
  .about__diplom-text {
    margin-bottom: 56px;
    font-size: 11px;
    line-height: 16px;
  }
  .about__duration {
    font-size: 11px;
    line-height: 13px;
  }

  .about__first-week {
    padding: 11px 10px;
    width: 80px;
  }
  .about__second-week {
    padding: 11px 10px;
  }
  .about__techno {
    font-size: 11px;
    line-height: 13px;
  }
  .about__diplom-container {
    margin-top: 60px;
  }
}
