.footer__title {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  margin: 79px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.footer_container {
  display: flex;
  justify-content: space-between;
}

.footer__year {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 263px;
}

.footer__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: black;
}

@media (max-width: 320px) {
  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }
  .footer_container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__links {
    margin: 30px 0;
    flex-direction: column;
  }
  .footer__link:nth-child(2) {
    margin: 18px 0;
  }
  .footer__year {
    color: #a0a0a0;
  }
}
