.about-me__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  margin: 110px 0 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

.about-me__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 66px;
}

.about-me__container {
  max-width: 600px;
}

.about-me__name {
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-me__role {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 16px 0 0;
}

.about-me__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 26px 50px 0 0;
}

.about-me__links {
  padding: 0;
  margin: 100px 0 0;
  display: flex;
  flex-direction: row;
}

.about-me__link {
  list-style-type: none;
  margin-right: 20px;
}

.about-me__social {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.about-me__avatar {
  border-radius: 10px;
  max-height: 330px;
  object-fit: cover;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .about-me__title {
    margin-top: 90px;
  }
  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }
  .about-me__role {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__text {
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__links {
    margin-top: 87px;
  }
  .about-me__avatar {
    max-height: 270px;
    object-fit: cover;
  }
}

@media (max-width: 550px) {
  .about-me__info {
    flex-direction: column-reverse;
  }
  .about-me__title {
    margin-top: 70px;
    font-size: 18px;
    line-height: 22px;
  }
  .about-me__name {
    margin-top: 40px;
    font-size: 30px;
    line-height: 36px;
  }
  .about-me__role {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__text {
    margin: 20 0 0;
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__links {
    margin-top: 40px;
  }
  .about-me__avatar {
    width: 280px;
}
}
